* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aqua;
    text-align: center;
}

.Container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Gmae {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem, rgba(0, 0, 0, 0.5);
    font-size: 45px;
    color: rgb(87, 23, 23);
    background-color: rgb(229, 178, 111);
}

.restart {
    color: rgb(232, 232, 232);
    background-color: rgb(118, 116, 116);
    margin: 7px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
}

.new-btn {
    color: rgb(232, 232, 232);
    background-color: black;
    margin: 7px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
}

.msg {
    color: antiquewhite;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}